body {
	
}

h1 {
	color: green;
}

#log {
    
}

#galleryWrapper {
	position: fixed;
	left: 50%;
	margin-left: -350px;
	width: 700px;
	height: 350px;
	
	padding: 0px 0px 0px 0px;
	
	background-color: #330000;
}

.gallery {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #CC0000;
	overflow: hidden;
}

.article {
	width: 20%;
	height: 100%;
	position: relative;
}

.article h1 {
	
}

.article:hover {
    
}

#leftArticle {
	float: left;
	display: inline-block;
	background-color: #955BA1;
}

#centerArticle {
	float: left;
	display: inline-block;
	background-color: #18BF93;
}

#rightArticle {
	float: left;
	display: inline-block;
	background-color: #89CA3E;
}

/*For all mobile devices*/
@media (max-width: 600px){
	#galleryWrapper {
        left: 0px !important;
        margin-left: 0px !important;
        width: 100% !important;
    }
}

/*For tablets*/
@media (min-width: 300px) and (max-width: 600px){

}

/*For phones*/
@media (max-width: 300px){

}